.container {
    width: 90%;
    margin: 20px auto;
}

.container h3 {
    color: #B20600;
}

.history {
    padding: 10px 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #252525;
    margin-bottom: 20px;
}

.history-detail p{
    margin: 0;
    padding: 5px;
    font-size: 14px;
}

.history-detail .title {
    font-size:18px;
    color: #B20600;
    font-weight: 600;
}

small {
    color: #B20600;
}