.container {
    width: 80%;
    margin: 50px auto;
    padding: 30px;
}

h3 {
    color:#B20600;
    font-size: 28px;
    margin:0;
}

p {
    padding: 15px;
}

.btns {
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
}

.submit input {
    display: none;
}

button {
    font-family: inherit;
    padding: 12px 24px;
    margin-top: 25px;
    background-color: #00092C;
    border: 2px solid #EEEEEE;
    border-radius: 10px;
    cursor: pointer;
}

a button,
button label {
    color: #EEEEEE;
    text-decoration: none;
}